{% extends 'project_graph_base.html' %}

{% block head_css %}
{{ super() }}
<!--cal css files -->
<link href="{{url_for('static',filename='css/fullcalendar.css')}}" rel='stylesheet' />
<link href="{{url_for('static',filename='css/fullcalendar.print.css')}}" rel='stylesheet' media='print'  />
{% endblock %}


{% block head_js %}
{{ super() }}
<!--cal js files -->
<script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/fullcalendar.min.js')}}"></script>
{% endblock %}


{% block content %}
<!-- project nav bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('project.all_projects') }}">project_details.html</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="{{ url_for('project.summary', project_id=project.id) }}"> {{project.name|title}} </a>
      </li>
      <li>
        <a href="{{ url_for('project.availability', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Availability</a>
      </li>
      <li>
        <a href="{{ url_for('project.bookings', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Booking</a>
      </li>
    </ul>
  </div>
</nav>

<!-- project description -->
<div class="well">
<a href="{{ url_for('project.summary', project_id=project.id) }}"> <h3>{{project.name|title}}</h3> </a>
<p>Description : {{project.description}}</p>
</div></br>


<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate: '2016-01-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
        {% for title,url,start,end,color in cal_data  %}
            {
                title: '{{title}}',
                url: '{{url}}',
                start: '{{start}}',
                end: '{{end}}',
                color: '{{color}}'
            },
        {% endfor %}
            ]
        });
    });
</script>


<style>
    body {
        margin: 0px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }
    #calendar {
        max-width: 95%;
        margin: 0 auto;
    }
</style>


<div class="container">
<h2> {{ cal_header|safe|title }}  </h2>
<div id='calendar'></div>
</hr>


  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>url</th>
        <th>start</th>
        <th>end</th>
        <th>color</th>
      </tr>
    </thead>
    <tbody>
    {% for title,url,start,end,color in cal_data  %}
      <tr>
        <th>{{title}}</th>
        <th>{{url}}</th>
        <th>{{start}}</th>
        <th>{{end}}</th>
        <th>{{color}}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
