{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{{_("Welcome RMS !")}}</h1>
    <p>{{_('''
<p>About: Our RMS is a simple resource management tools which can help you resources allocation in a better way. As simple as it sounds, in reality resource allocation is no easy art but includes a lot complex or otherwise say interesting questions within which makes it so much different from Group Calendar tables.</p>

<p>So in order to tackle our realtime problems, we are built our philosophy such that both user and resource provider can understand about each other. Thus we would not only create an awesome feedback system but also an effective system where Demand(your users/stakeholders) and Supply(our Resource Manager/Resource Provider) are transparent.</p>

<p>Sample case, say you are from a Support Services team, where you want to manage your team according to the flow of demand requests that come in everyday.</p>
<p> You can check our source code at <a href="https://github.com/msampathkumar/rms">GitHub Link</a> </p>
    ''')}}</p>
  </div>
</div>
{% endblock %}


