{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
{{ super() }}
<!--cal css files -->
<link href="{{url_for('static',filename='css/fullcalendar.css')}}" rel='stylesheet' />
<link href="{{url_for('static',filename='css/fullcalendar.print.css')}}" rel='stylesheet' media='print'  />
{% endblock %}


{% block head_js %}
{{ super() }}
<!--cal js files -->
<script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/fullcalendar.min.js')}}"></script>
{% endblock %}




{% block content %}
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate: '2016-01-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
        {% for title,url,start,end in cal_data  %}
            {
                title: '{{title}}',
                url: '{{url}}',
                start: '{{start}}',
                end: '{{end}}'
            },
        {% endfor %}
            ]
        });
    });
</script>


<style>
    body {
        margin: 0px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }
    #calendar {
        max-width: 95%;
        margin: 0 auto;
    }
</style>

<h2> Test Calendar </h2>
<div id='calendar'></div>
</hr>

<p>hello world !</p>
<pre>
{% for title,url,start,end in cal_data  %}
    {
    title: {{title}}
    url: {{url}}
    start: {{start}}
    end: {{end}}
    },
{% endfor %}
</pre>

{% endblock %}
