{% extends "appbuilder/base.html" %}
{% block content %}
<!-- starting -->
<!-- project name, description -->
<div class="well">
<h1>{{ project.name|title}}</h1>
<p>{{ project.description|title}}</p>

<p>Description : {{project.description}}</p>

<a href="{{ url_for('project.summary', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Project Home</a>
<a href="{{ url_for('project.availability', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Availability</a>
<a href="{{ url_for('project.bookings', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Booking</a>

</div>

<!-- project users -->
<div> Project Users:
{% for user in users_list %}
  {{ user }}
{% endfor %}
</div></br></hl>
<!-- project resources -->
<div> Project Resources:
{% for user in resources_list %}
  {{ user }}
{% endfor %}
</div></br>
<!-- project availability + demand calendar -->
<div>
  * supply_group_by_date_count, demand_group_by_date_count
</div></br>
<!-- project statistics -->
<div>
  * supply_group_by_date_count, demand_group_by_date_count
</div></br>
<!-- ending -->

{% endblock %}
