{% extends "project_graph_base.html" %}
{% block content %}

<!-- supply & demand for all projects -->
{% include 'projects_graph.html'%}

<div clas="container">
<h2> Projects Details </h2>
  <div class="row">
  {% for project in param1  %}
    <div class="col-sm-4 well">
      <a href="{{ url_for('project.summary', project_id=project.id) }}" ><h3>{{project.name|title}}</h3></a>
    <p>Description : {{project.description}}</p>
      <div class="btn-group btn-group-justified">
      <a href="{{ url_for('project.summary', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Project Home</a>
      <a href="{{ url_for('project.availability', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Availability</a>
      <a href="{{ url_for('project.bookings', project_id=project.id) }}" class="btn btn-primary:focus btn-sm">Booking</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- ending -->
{% endblock %}
